$font-family-sans-serif: Helvetica, Tahoma;
$font-size-base: 1rem;
$line-height-base: 1.9;
$font-weight-base: 400;
$headings-font-weight: 500;
$headings-line-height: 1.5;

$font-weight-lighter: 100;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-bolder: 900;
